.subtitulo {
    font-style: normal;
    font-weight: 400;
    font-size: 13.7367px;
    line-height: 17px;
    color: #92959E;
}

.titulo {
    font-style: normal;
    font-weight: 400;
    font-size: 23.5486px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #15192C;
}