<app-topo (periodoSelecionado)="atribuiPeriodo($event)" (clienteSelecionado)="atribuiCliente($event)"></app-topo>
<div class="dash-corpo">
    <span class="titulo">Somatória geral</span>
    <canvas baseChart height="110" [data]="dados" [options]="lineChartOptions" [type]="lineChartType"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start center" style="margin-bottom: 60px;">
    <div *ngFor="let un of unidadeNegocio; index as i;" fxFlex="48%">
        <app-produto [alcance]="un.alcance" [conversao]="un.conversao" [engajamento]="un.engajamento"
            [retencao]="un.retencao" [titulo]="un.descricao" [cor]="un.cor || 'blue'"></app-produto>
    </div>
</div>
<!-- <p class="g-signin2" data-onsuccess="queryReports"></p> -->
<!-- <button (click)="getReport()">Consulta Analytics</button> -->
<!-- <div id="buttonDiv"></div> -->