<app-topo></app-topo>
<div class="dash-corpo">
    <canvas baseChart height="110" [data]="lineChartData" [options]="lineChartOptions"
        [type]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<div fxLayout="row" fxLayoutGap="10px" style="margin-bottom:60px">
    <app-produto fxFlex="50%"></app-produto>
    <app-produto fxFlex="50%"></app-produto>
</div>


<div>
    <div id="g_id_onload"
         data-client_id="343166035868-desd6rpir3t7hnk5q6svpb8tasucm809.apps.googleusercontent.com"
         data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div>
</div>