
.titulo {
    font-style: normal;
    font-weight: 400;
    font-size: 11.2621px;
    line-height: 14px;
    /* identical to box height */


    color: #92959E;
}

.numero {
    font-style: normal;
    font-weight: 400;
    font-size: 14.0776px;
    line-height: 17px;

    color: #15192C;
}

.divisor {
    padding-left: 15px;
    padding-right: 15px;
    height: 57.72px;
}
.divisor.borda {
    border-left: 0.703878px solid #ECECEE;
}