.sidenav {
    background-color: #D0D2DA40;
    height: 900px;
    padding-bottom: 44px;
}

.logo {
    padding-top: 44px;
    margin-top: 132px;
}

.btn-disabled {
    position: relative;
    width: 158.37px;
    height: 52.09px;
    background: #FFFFFF;
    border-radius: 70.3878px;
    border: 0px;
}