.sidenav {
    padding-bottom: 44px;
}

.logo {
    padding-top: 44px;
}

.btn-disabled {
    position: relative;
    width: 158.37px;
    height: 52.09px;
    background: #FFFFFF;
    border-radius: 70.3878px;
    border: 0px;
    color: #D0D2DA;
    cursor: pointer;
    text-align: center;
}

.btn-enabled {
    color: #551FFF;
    background-color: transparent;
    cursor: pointer;
    width: 158.37px;
    height: 52.09px;
    border-radius: 70.3878px;
    border: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 14.0776px;
    line-height: 17px;
    letter-spacing: -0.02em;
}