<div fxLayout="column" fxLayoutAlign="stretch">
    <mat-form-field appearance="fill">
        <mat-label>Selecione o cliente</mat-label>
        <mat-select (selectionChange)="selecionaCliente($event.value)">
            <mat-option *ngFor="let cliente of lstClientes" [value]="cliente.id">
                {{cliente.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Escolha um periodo</mat-label>
        <mat-select (selectionChange)="selecionaPeriodo($event.value)">
            <mat-option *ngFor="let periodo of periodos" [value]="periodo.value">
                {{periodo.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Escolha uma data inicial</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
    <!-- <mat-form-field appearance="fill">
        <mat-label>Escolha uma data final</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field> -->
</div>